.ul-info li{
    float: left;
    list-style: none;
    width: 150px;
}


/*信息代改界面样式Start*/

.search-item.col-md-12 .form-control {
    width: 33%;
}
.search-item.col-md-12 .btn {
    float: none;
}


.edit-form {
    overflow: hidden;
}